.instagram {
  background-color: #0f0f0f;
  display: flex;
  justify-content: center;
  width: 100%;
}

.instagram_container {
  gap: 48px;
  width: 100%;
  max-width: 1440px;
  padding: 120px 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.instagram_title {
  gap: 16px;
  display: grid;
  justify-items: center;

  h1 {
    text-align: center;
    font-size: clamp(32.4px, 5.4vw, 57.6px);
    font-weight: 500;
    letter-spacing: -2px;
    color: #ffffff;

    span {
      color: rgb(254, 80, 17);
    }
  }

  p {
    text-align: center;
    max-width: 680px;
    font-size: 16px;
    color: #cfcfcf;
  }
}

.instagram_content_wrapper {
  gap: 24px;
  display: grid;
  width: 100%;
  max-width: 1000px;
}

.instagram_content {
  gap: 24px;
  width: 100%;
  display: flex;
}

.instagram_content_right {
  flex: 1;
  gap: 24px;
  min-height: 320px;
  max-height: 340px;
  padding: 40px;
  display: grid;
  color: white;
  align-content: end;
  border-radius: 24px;
  background-size: cover;
  border: 1px solid #454545;
  background-repeat: no-repeat;
  background-position: center center;
}
