.main {
}

.mainDark {
  color: white;
  background-color: #0b141a;
}

.container {
  gap: 16px;
  display: flex;
  margin: 40px auto;
  max-width: 1360px;
  align-items: center;
  border-radius: 24px;
  justify-content: space-between;
}

.inner {
  width: 100%;
  height: 100%;
  display: flex;
  padding: 64px 0;
  align-items: center;
  justify-content: space-between;
}

.content {
  gap: 16px;
  display: flex;
  width: 50%;
}

.image {
  width: 300px;
  height: 550px;
  display: flex;
  margin-left: 10%;
  box-shadow: 0 30px 30px rgba(0, 0, 0, 0.1);

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 16px;
  }
}

.text {
  gap: 64px;
  display: grid;
  align-content: space-between;
}

.textInner {
  display: flex;
  flex-direction: column;
  gap: 32px;

  h1 {
    font-weight: 400;
    line-height: 1;
    font-size: 48px;
  }
}

.btn {
  border: none;
  padding: 8px 0;
  font-size: 16px;
  width: fit-content;
  background-color: transparent;
  font-family: "Inter", sans-serif;
  border-bottom: 1px solid #25d268;
}
