.main {
  width: 100%;
  border-bottom: 1px solid rgb(189, 189, 189);
  background-color: #ffffff;
  position: sticky;
  top: 0;
  z-index: 100;
}

.logo {
  height: 22px;
}

.container {
  gap: 32px;
  height: 96px;
  display: flex;
  margin: 0 auto;
  max-width: 1340px;
  align-items: center;
  padding: 0 24px;
  justify-content: space-between;

  ul {
    gap: 32px;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;

    li {
      list-style: none;

      a {
        font-size: 16px;
        color: #0f0f0f;
        font-weight: 500;
        text-decoration: none;
        letter-spacing: -0.01em;
        position: relative;

        &::after {
          content: "";
          position: absolute;
          left: 0;
          bottom: -4px;
          width: 0%;
          height: 2px;
          background: rgb(254, 80, 17);
          transition: width 0.3s ease;
        }

        &:hover::after {
          width: 100%;
        }
      }
    }
  }
}

.buttons {
  gap: 16px;
  display: flex;
  align-items: center;
}

.button {
  height: 48px;
  cursor: pointer;
  font-size: 14px;
  width: max-content;
  border-radius: 9999px;
  padding: 4px 20px;
  background-color: rgb(247, 247, 247);
  border: 1px solid rgb(189, 189, 189);
}

/* ---------------- HERO ---------------- */

.hero {
  width: 100%;
  overflow: hidden;
}

.hero_container {
  gap: 64px;
  min-height: 90vh;
  display: flex;
  margin: 0 auto;
  max-width: 1340px;
  padding: 64px 48px;
  align-items: center;
  justify-content: space-between;
}

.hero_left {
  gap: 48px;
  display: flex;
  max-width: 44%;
  flex-direction: column;

  h1 {
    line-height: 1;
    font-size: clamp(42px, 5vw, 82px);
    font-weight: 500;
    letter-spacing: -0.05em;
  }

  p {
    font-size: 18px;
    line-height: 1.6;
  }
}

.hero_buttons {
  gap: 16px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.hero_button,
.hero_button_secondary {
  gap: 16px;
  height: 64px;
  display: flex;
  cursor: pointer;
  font-size: 18px;
  color: #0f0f0f;
  padding: 8px 32px;
  width: max-content;
  align-items: center;
  border-radius: 9999px;
  background-color: #ffffff;
  border: 1px solid #0f0f0f;
  transition: all 0.25s ease;

  i {
    width: 48px;
    height: 48px;
    font-size: 22px;
    border-radius: 9999px;
    background-color: #ffffff;
    display: grid;
    place-items: center;
  }

  &:hover {
    background-color: rgb(247, 247, 247);
    border: 1px solid rgb(254, 80, 17);
  }
}

.hero_button_secondary {
  border: none;
  color: #ffffff;
  padding: 8px 8px 8px 32px;
  background-color: rgb(254, 80, 17);

  i {
    color: #0f0f0f;
  }

  &:hover {
    border: none;
    background-color: rgb(217, 68, 14);
  }
}

.hero_right {
  gap: 48px;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}

.hero_cards {
  gap: 12px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.hero_card {
  gap: 8px;
  width: 300px;
  padding: 16px;
  display: flex;
  flex-flow: column;
  border-radius: 20px;
  align-items: flex-start;
  border: 1px solid #e3e3e37a;
  backdrop-filter: blur(40px);
  background-color: #00000005;

  h1 {
    font-size: 42px;
    font-weight: 600;
    color: rgb(254, 80, 17);
  }

  hr {
    width: 100%;
    border: 0.5px solid #e3e3e37a;
  }
}

/* ---------------- KEY NUMBERS ---------------- */

.keyNumbers {
  width: 100%;
  display: flex;
  justify-content: center;
}

.keyNumbers_container {
  gap: 48px;
  width: 100%;
  max-width: 1440px;
  padding: 120px 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.keyNumbers_title {
  gap: 16px;
  display: grid;
  justify-items: center;

  h1 {
    text-align: center;
    font-size: clamp(32.4px, 5.4vw, 57.6px);
    font-weight: 500;
    letter-spacing: -2px;

    span {
      color: rgb(254, 80, 17);
    }
  }

  p {
    text-align: center;
    max-width: 680px;
    font-size: 16px;
    color: #cfcfcf;
  }
}

.keyNumbers_content_wrapper {
  gap: 24px;
  display: grid;
  width: 100%;
  max-width: 1000px;
}

.keyNumbers_content {
  gap: 24px;
  width: 100%;
  display: flex;
}

.keyNumbers_content_left,
.keyNumbers_content_left_bottom,
.keyNumbers_content_right {
  gap: 24px;
  flex: 1;
  min-height: 460px;
  padding: 40px;
  display: grid;
  color: #ededed;
  border-radius: 24px;

  p {
    color: #ededed;
  }
}

.keyNumbers_content_left {
  align-content: flex-end;
  background-color: #fe5011;
}

.keyNumbers_content_left_bottom {
  h1 {
    color: #0f0f0f;
  }

  p {
    color: #808080;
  }

  align-content: start;
  background: linear-gradient(#fbfbfc 0%, #dadae4 100%);
}

.keyNumbers_content_right {
  align-content: end;
  border: 1px solid #454545;
  background: linear-gradient(#34224f00 49%, #34224f 100%);
}

.keyNumbers_content_bottom {
  gap: 24px;
  display: grid;
  min-height: 300px;
  border-radius: 24px;
  align-content: flex-end;
  border: 1px solid #454545;
  background-color: #ffffff;
}

.keyNumbers_content_bottom_text {
  gap: 24px;
  display: grid;
  padding: 40px;
}

.keyNumbers_content_left_bottom p,
.keyNumbers_content_left p,
.keyNumbers_content_right p,
.keyNumbers_content_bottom p {
  font-size: 20px;
  line-height: 1.4;
}

/* ---------------- OUR TEAM ---------------- */

.ourTeam {
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  width: 100%;
}

.ourTeam_container {
  gap: 48px;
  width: 100%;
  max-width: 1440px;
  padding: 120px 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ourTeam_title {
  gap: 16px;
  display: grid;
  justify-items: center;

  h1 {
    text-align: center;
    font-size: clamp(32.4px, 5.4vw, 57.6px);
    font-weight: 500;
    letter-spacing: -2px;

    span {
      color: rgb(254, 80, 17);
    }
  }

  p {
    text-align: center;
    max-width: 680px;
    font-size: 16px;
  }
}

.ourTeam_content {
  display: grid;
  width: -webkit-fill-available;
}

.ourTeam_content_head {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.ourTeam_card_head {
  gap: 8px;
  padding: 40px;
  display: flex;
  align-items: flex-end;
  border-radius: 16px 16px 0 0;
  background-color: rgb(254, 80, 17);

  h1 {
    color: white;
    font-size: 128px;
    font-weight: 500;
    line-height: 100%;
    text-transform: uppercase;
  }

  p {
    color: white;
    font-size: 32px;
    font-weight: 500;
    line-height: 100%;
    margin-bottom: 8px;
    letter-spacing: 0px;
  }
}

.ourTeam_content_one {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
}

.ourTeam_content_two {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
}

.ourTeam_card {
  margin: 0px -1px;
  height: 200px;
  padding: 40px;
  display: grid;
  justify-items: start;
  align-items: flex-start;
  align-content: space-between;
  border: 1px solid #cdcdcd;

  i {
    font-size: 36px;
    color: rgb(254, 80, 17);
  }
}

/* ---------------- WE ARE HIRING ---------------- */

.hiring {
  background-color: #0f0f0f;
  display: flex;
  justify-content: center;
  width: 100%;
}

.hiring_container {
  width: 100%;
  padding: 32px 0;
  overflow-x: hidden;
  overflow-y: hidden;
  background: linear-gradient(90deg, #000 0%, #0b0b0b 50%, #000 100%);
}

.hiring_content_main {
  padding: 120px 48px;
  display: flex;
  justify-content: center;
}

.hiring_content_wrapper {
  gap: 48px;
  display: grid;
  max-width: 1000px;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
}

.hiring_title {
  gap: 16px;
  display: grid;
  margin-top: 120px;
  justify-items: center;

  h1 {
    text-align: center;
    font-size: clamp(32.4px, 5.4vw, 57.6px);
    font-weight: 500;
    letter-spacing: -2px;
    color: #ffffff;

    span {
      color: rgb(254, 80, 17);
    }
  }

  p {
    text-align: center;
    max-width: 680px;
    font-size: 16px;
    color: #cfcfcf;
  }
}

.hiring_track {
  display: flex;
  align-items: center;
  gap: 48px;
  width: max-content;
  will-change: transform;
}

.hiring_header_item {
  display: flex;
  align-items: center;
  gap: 12px;
  white-space: nowrap;

  p {
    font-size: 16px;
    font-weight: 500;
    color: #cfcfcf;
  }
}

.spark {
  color: rgb(254, 80, 17);
  font-size: 14px;
}

.hiring_content_card {
  gap: 16px;
  padding: 40px;
  display: grid;
  cursor: pointer;
  border-radius: 20px;
  border: 1px solid #000000;
  background-color: rgb(27, 27, 27);

  h1 {
    font-size: 24px;
    color: #ffffff;
  }
}

.hiring_content_card_title {
  gap: 8px;
  display: flex;
  align-items: center;

  span {
  }
}

/* ---------------- KEY NUMBERS ---------------- */

.instagram {
  background-color: #0f0f0f;
  display: flex;
  justify-content: center;
  width: 100%;
}

.instagram_container {
  gap: 48px;
  width: 100%;
  max-width: 1440px;
  padding: 120px 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.instagram_title {
  gap: 16px;
  display: grid;
  justify-items: center;

  h1 {
    text-align: center;
    font-size: clamp(32.4px, 5.4vw, 57.6px);
    font-weight: 500;
    letter-spacing: -2px;
    color: #ffffff;

    span {
      color: rgb(254, 80, 17);
    }
  }

  p {
    text-align: center;
    max-width: 680px;
    font-size: 16px;
    color: #cfcfcf;
  }
}

.instagram_content_wrapper {
  gap: 24px;
  display: grid;
  width: 100%;
  max-width: 1000px;
}

.instagram_content {
  gap: 24px;
  width: 100%;
  display: flex;
}

.instagram_content_left,
.instagram_content_left_bottom,
.instagram_content_right {
  gap: 24px;
  flex: 1;
  min-height: 460px;
  padding: 40px;
  display: grid;
  color: white;
  border-radius: 24px;
}

.instagram_content_left {
  align-content: start;
  background-color: #fe5011;
}

.instagram_content_left_bottom {
  align-content: start;
  background: linear-gradient(#fbfbfc 0%, #dadae4 100%);
}

.instagram_content_right {
  align-content: end;
  border: 1px solid #454545;
  background: linear-gradient(#34224f00 49%, #34224f 100%);
}

.instagram_content_bottom {
  gap: 24px;
  min-height: 300px;
  padding: 40px;
  display: grid;
  color: white;
  align-content: start;
  border-radius: 24px;
  border: 1px solid #454545;
  background: linear-gradient(#000000 49%, #34224f 100%);
}

.instagram_content_left_bottom p,
.instagram_content_left p,
.instagram_content_right p,
.instagram_content_bottom p {
  font-size: 20px;
  line-height: 1.4;
}

/* ---------------- FOOTER ---------------- */

.footer {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: rgb(15, 15, 15);
}

.footer_container {
  gap: 120px;
  width: 100%;
  display: grid;
  padding: 120px 48px;
  grid-template-columns: repeat(2, 1fr);
}

.footer_left {
  opacity: 1;
  flex-shrink: 0;
  image-rendering: pixelated;
  background-size: 100% 100%;

  h1 {
    letter-spacing: -2px;
    font-size: clamp(43.2px, 6.3vw, 86.4px);
    color: #ffffff;
    line-height: 0.9;
  }
}

.footer_right {
  gap: 48px;
  display: flex;
  flex-direction: column;
}

.footer_info_section {
  gap: 16px;
  display: grid;
}

.footer_info_header {
  font-size: 16px;
  color: #808080;
}

.footer_info {
  opacity: 1;
  font-size: 24px;
  transform: none;
  color: #ffffff;
  letter-spacing: -1px;

  span {
    color: rgb(254, 80, 17);
  }
}

.footer_copyright {
  gap: 120px;
  display: flex;
  max-width: 1440px;
  padding: 24px 120px;
  align-items: center;
  background-color: rgb(15, 15, 15);
  border-top: 1px solid rgb(53, 53, 53);

  span {
    font-size: 18px;
    color: #808080;
  }
}

/* ---------------- RESPONSIVE ---------------- */

@media (max-width: 1024px) {
  .hero_container {
    flex-direction: column;
    gap: 48px;
    text-align: center;
  }

  .hero_left {
    max-width: 100%;
    align-items: center;
  }

  .hero_right {
    align-items: center;
  }

  .keyNumbers_content,
  .ourTeam_content {
    flex-direction: column;
  }

  .footer_container {
    grid-template-columns: 1fr;
    gap: 64px;
  }
}

@media (max-width: 640px) {
  .container ul {
    display: none;
  }

  .hero_container {
    padding: 48px 24px;
  }

  .presentation_container,
  .keyNumbers_container,
  .ourTeam_container,
  .footer_container {
    padding: 80px 24px;
  }

  .hero_buttons {
    flex-direction: column;
    width: 100%;

    button {
      width: 100%;
      justify-content: center;
    }
  }

  .hero_cards {
    flex-direction: column;
  }

  .keyNumbers_content_wrapper,
  .ourTeam_content_wrapper {
    width: 100%;
  }

  .keyNumbers_content_left,
  .keyNumbers_content_left_bottom,
  .keyNumbers_content_right,
  .ourTeam_content_left,
  .ourTeam_content_right {
    min-height: auto;
  }
}
