.ourTeam {
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  width: 100%;
}

.ourTeam_container {
  gap: 48px;
  width: 100%;
  max-width: 1440px;
  padding: 120px 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ourTeam_title {
  gap: 16px;
  display: grid;
  justify-items: center;

  h1 {
    text-align: center;
    font-size: clamp(32.4px, 5.4vw, 57.6px);
    font-weight: 500;
    letter-spacing: -2px;

    span {
      color: rgb(254, 80, 17);
    }
  }

  p {
    text-align: center;
    max-width: 680px;
    font-size: 16px;
  }
}

.ourTeam_content_wrapper {
  gap: 20px;
  display: grid;
  width: 100%;
  max-width: 1000px;
}

.ourTeam_content {
  gap: 20px;
  width: 100%;
  display: flex;
}

.ourTeam_image_large {
  width: 75%;
  height: 400px;
  object-fit: cover;
  border-radius: 24px;
}

.ourTeam_image_small {
  width: 25%;
  height: 400px;
  object-fit: cover;
  border-radius: 24px;
}

.ourTeam_image_big {
  width: 100%;
  height: 400px;
  object-fit: cover;
  border-radius: 24px;
}

.ourTeam_buttons {
  gap: 16px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.ourTeam_button,
.ourTeam_button_secondary {
  gap: 16px;
  height: 64px;
  display: flex;
  cursor: pointer;
  font-size: 18px;
  color: #0f0f0f;
  padding: 8px 32px;
  width: max-content;
  align-items: center;
  border-radius: 9999px;
  background-color: #ffffff;
  border: 1px solid #0f0f0f;
  transition: all 0.25s ease;

  i {
    width: 48px;
    height: 48px;
    font-size: 22px;
    border-radius: 9999px;
    background-color: #ffffff;
    display: grid;
    place-items: center;
  }

  &:hover {
    background-color: rgb(247, 247, 247);
    border: 1px solid rgb(254, 80, 17);
  }
}

.ourTeam_button_secondary {
  border: none;
  color: #ffffff;
  padding: 8px 8px 8px 32px;
  background-color: rgb(254, 80, 17);

  i {
    color: #0f0f0f;
  }

  &:hover {
    border: none;
    background-color: rgb(217, 68, 14);
  }
}

/* ---------------- RESPONSIVE ---------------- */

@media (max-width: 1024px) {
  .ourTeam_content {
    flex-direction: column;
  }
}

@media (max-width: 640px) {
  .ourTeam_container {
    padding: 80px 24px;
  }

  .ourTeam_content_wrapper {
    width: 100%;
  }

  .ourTeam_content_left,
  .ourTeam_content_right {
    min-height: auto;
  }
}
