.hiring {
  background-color: #0f0f0f;
  display: flex;
  justify-content: center;
  width: 100%;
}

.hiring_container {
  width: 100%;
  padding: 32px 0;
  overflow-x: hidden;
  overflow-y: hidden;
  background: linear-gradient(90deg, #000 0%, #0b0b0b 50%, #000 100%);
}

.hiring_content_main {
  padding: 120px 48px;
  display: flex;
  justify-content: center;
}

.hiring_content_wrapper {
  gap: 48px;
  display: grid;
  max-width: 1000px;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
}

.hiring_title {
  gap: 16px;
  display: grid;
  margin-top: 120px;
  justify-items: center;

  h1 {
    text-align: center;
    font-size: clamp(32.4px, 5.4vw, 57.6px);
    font-weight: 500;
    letter-spacing: -2px;
    color: #ffffff;

    span {
      color: rgb(254, 80, 17);
    }
  }

  p {
    text-align: center;
    max-width: 680px;
    font-size: 16px;
    color: #cfcfcf;
  }
}

.hiring_track {
  display: flex;
  align-items: center;
  gap: 48px;
  width: max-content;
  will-change: transform;
}

.hiring_header_item {
  display: flex;
  align-items: center;
  gap: 12px;
  white-space: nowrap;

  p {
    font-size: 16px;
    font-weight: 500;
    color: #cfcfcf;
  }
}

.spark {
  color: rgb(254, 80, 17);
  font-size: 14px;
}

.hiring_content_card {
  gap: 16px;
  padding: 40px;
  display: grid;
  cursor: pointer;
  border-radius: 20px;
  border: 1px solid #000000;
  background-color: rgb(27, 27, 27);

  h1 {
    font-size: 24px;
    color: #ffffff;
  }
}

.hiring_content_card_title {
  gap: 8px;
  display: flex;
  align-items: center;
}
