.main {
  z-index: 1;
  position: relative;
  border-radius: 0px 0px 24px 24px;
  background-color: var(--blue-light);
}

.container {
  display: flex;
  max-width: 1360px;
  padding: 128px 0;
  margin: 40px auto -24px auto;
  flex-direction: row;
}

.text {
  display: grid;

  h1 {
    font-weight: 400;
    line-height: 1;
    font-size: 48px;
  }
}

.textInner {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.slider {
  height: 100%;
  width: 60%;
  display: flex;
  flex-direction: column;
  color: var(--gray-light);
  padding: 0 64px;
  align-items: center;
  justify-content: center;

  // make slick slider full width
  :global(.slick-slider) {
    width: 100%;
  }

  :global(.slick-slide) {
    align-items: center;
    justify-content: center;
    display: flex !important;
  }
}

.slide {
  max-width: 300px;
  gap: 32px;
  padding: 32px;
  color: black;
  border-radius: 24px;
  display: grid !important;
  background-color: var(--gray-light);

  h3 {
    font-weight: 400;
    line-height: 1;
    font-size: 32px;
  }
}

.buttons {
  gap: 8px;
  display: flex;
  align-items: flex-end;
}

.btn {
  font-size: 16px;
  padding: 8px 16px;
  border-radius: 120px;
  color: var(--blue-main);
  border: 1px solid var(--blue-main);
}

.btnLogin {
  background-color: var(--blue-main);
  color: var(--gray-light);
}

.icon {
  cursor: pointer;
  color: var(--blue-main);
  border: 1px solid var(--blue-main);
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 28px;
  border-radius: 120px;
}
