.contact {
  padding: 120px 32px;
  background: #f7f7f7;
}

.contact_container {
  max-width: 1340px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.contact_header {
  max-width: 700px;

  h1 {
    line-height: 1;
    font-size: clamp(42px, 5vw, 82px);
    font-weight: 500;
    letter-spacing: -0.05em;
  }

  p {
    font-size: 18px;
    line-height: 1.6;
    max-width: 560px;
    letter-spacing: -0.5px;
  }
}

.contact_content {
  display: grid;
  grid-template-columns: 1fr 1.2fr;
  gap: 48px;
}

.contact_info {
  display: flex;
  flex-direction: column;
  gap: 24px;

  h3 {
    font-size: 1rem;
    font-weight: 600;
  }

  p {
    color: #666;
    cursor: pointer;

    span {
      position: relative;

      &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -4px;
        width: 0%;
        height: 2px;
        background: rgb(254, 80, 17);
        transition: width 0.3s ease;
      }

      &:hover::after {
        width: 100%;
      }
    }
  }
}

.contact_form {
  gap: 20px;
  display: flex;
  padding: 40px;
  background: #fff;
  border-radius: 24px;
  flex-direction: column;

  input,
  textarea {
    font-family: "Inter";
    font-size: 1rem;
    padding: 14px 18px;
    border-radius: 12px;
    border: 1px solid #ddd;
  }

  textarea {
    resize: none;
    min-height: 120px;
    font-family: "Inter";
  }

  button {
    padding: 16px;
    border-radius: 999px;
    border: none;
    background: #000;
    color: #fff;
    font-weight: 500;
    cursor: pointer;
    transition: 0.3s ease;
    font-family: "Inter";
  }

  button:hover {
    transform: translateY(-4px);
  }
}

@media (max-width: 1024px) {
  .contact_content {
    grid-template-columns: 1fr;
  }
}
