.main {
  width: 100%;
  height: 750px;
  position: relative;
  margin: 250px auto -150px auto;
}

.textSection {
  display: flex;
  align-items: center;
  justify-content: center;
}

.textInner {
  display: flex;
  flex-direction: column;
  color: var(--gary-main);

  .highlight {
    color: var(--blue-main);
  }

  h1 {
    display: flex;
    font-size: 120px;
    line-height: 120px;
    letter-spacing: -5px;
    justify-content: center;
  }
}
