.card {
  gap: 24px;
  width: 200px;
  display: grid;
  padding: 16px;
  position: absolute;
  border-radius: 16px;
  background-color: var(--blue-light);
  transition: transform 0.25s ease-out;
}

.content {
  h1 {
    color: var(--blue-main);
  }

  p {
    color: var(--gray-dark);
  }
}

.bottom {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;

  span,
  i {
    color: var(--blue-dark);
    border: 1px solid var(--blue-dark);
    padding: 6px 10px;
    font-size: 10px;
    line-height: 10px;
    border-radius: 60px;
    max-height: 24px;
  }

  i {
    width: 24px;
    height: 24px;
    font-size: 14px;
    padding: 0px;
    color: var(--gray-light);
    background-color: var(--blue-dark);
  }
}
