.main {
  margin-top: 120px;
}

.container {
  gap: 16px;
  height: fit-content;
  display: flex;
  padding: 120px 0;
  margin: 40px auto;
  max-width: 1360px;
  position: relative;
  align-items: center;
  border-radius: 24px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  justify-content: space-between;
}
.container::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  background: var(--blue-light);
  pointer-events: none;
  z-index: 1;
}

.inner {
  // height: 100%;
  display: flex;
  padding: 0 120px;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 2;
}

.content {
  gap: 16px;
  display: flex;
}

.text {
  gap: 64px;
  display: grid;
  align-content: space-between;
}

.textInner {
  display: flex;
  flex-direction: column;
  color: var(--gary-main);

  .highlight {
    color: var(--blue-main);
  }

  h1 {
    display: flex;
    font-size: 120px;
    line-height: 100px;
    letter-spacing: -5px;
  }

  p {
    max-width: 50%;
    margin-top: 64px;
    font-size: 16px;
  }
}
