.main {
  margin-top: 120px;
}

.container {
  gap: 16px;
  height: 80vh;
  display: flex;
  padding: 120px 0;
  margin: 40px auto;
  max-width: 1360px;
  align-items: center;
  border-radius: 24px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  justify-content: space-between;
  background-image: url("https://scontent.whatsapp.net/v/t39.8562-34/316546300_547692113846445_7299710494491288098_n.png?ccb=1-7&_nc_sid=73b08c&_nc_ohc=6woZrrgOh3cQ7kNvwHgBwyH&_nc_oc=AdmCGdUqfqC738RQB7L0tgbnKd9yvW6wUiCkvVolmflJEMtpLYMMinzKNnMf7AoXyZA&_nc_zt=3&_nc_ht=scontent.whatsapp.net&_nc_gid=imovJ-ZDHtM-1sQ_vOGnwQ&oh=01_Q5Aa2gFSKoM4KUcHdctV5LegjRBbAsui6J2TG-Rlxol4Gk_jqQ&oe=68E16F65");
}

.inner {
  height: 100%;
  display: flex;
  color: white;
  padding: 0 120px;
  align-items: center;
  justify-content: space-between;
}

.content {
  gap: 16px;
  display: flex;
}

.text {
  gap: 64px;
  display: grid;
  max-width: 30%;
  align-content: space-between;
}

.textInner {
  display: flex;
  flex-direction: column;
  gap: 32px;

  h1 {
    font-weight: 400;
    line-height: 1;
    font-size: 80px;
  }
}

.buttons {
  display: flex;
  gap: 8px;
}

.btn {
  font-family: "Inter", sans-serif;
  color: #25d268;
  border: 1px solid #25d268;
  padding: 8px 16px;
  font-size: 16px;
  border-radius: 120px;
}

.btnLogin {
  background-color: #25d268;
  color: #fff;
}
