.main {
  margin-top: 120px;
}

// ...existing code...
.container {
  gap: 16px;
  height: 80vh;
  display: flex;
  padding: 120px 0;
  margin: 40px auto;
  max-width: 1360px;
  position: relative;
  align-items: center;
  border-radius: 24px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  justify-content: space-between;
}
.container::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  background: rgba(0, 0, 0, 0.6); /* adjust opacity as needed */
  pointer-events: none;
  z-index: 1;
}

.inner {
  height: 100%;
  display: flex;
  color: white;
  padding: 0 120px;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 2;
}

.content {
  gap: 16px;
  display: flex;
}

.text {
  gap: 64px;
  display: grid;
  max-width: 30%;
  align-content: space-between;
}

.textInner {
  display: flex;
  flex-direction: column;
  gap: 32px;

  h1 {
    font-weight: 400;
    line-height: 1;
    font-size: 80px;
  }
}

.buttons {
  display: flex;
  gap: 8px;
}

.btn {
  font-family: "Inter", sans-serif;
  color: #25d268;
  border: 1px solid #25d268;
  padding: 8px 16px;
  font-size: 16px;
  border-radius: 120px;
}

.btnLogin {
  background-color: #25d268;
  color: #fff;
}
