.main {
}

.container {
  gap: 80px;
  display: flex;
  padding: 64px 0;
  max-width: 1360px;
  flex-direction: column;
  margin: 80px auto;
}

.text {
  gap: 16px;
  display: grid;
  text-align: center;
  justify-items: center;

  h3 {
    line-height: 1;
    font-size: 48px;
    font-weight: 400;
  }

  p {
    max-width: 50%;
  }
}

.slide {
  max-width: 250px;
  gap: 32px;
  padding: 32px;
  color: black;
  border-radius: 24px;
  display: grid !important;
  background-color: white;
}

.buttons {
  gap: 8px;
  display: flex;
  align-items: flex-end;
}

.btn {
  font-family: "Inter", sans-serif;
  color: #25d366;
  border: 1px solid #25d366;
  padding: 8px 16px;
  font-size: 16px;
  border-radius: 120px;
}

.btnLogin {
  background-color: #25d366;
  color: #fff;
}

.icon {
  cursor: pointer;
  color: #25d366;
  border: 1px solid #25d366;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 28px;
  border-radius: 120px;
}
