.main {
  height: 80px;
  display: flex;
  justify-content: center;
  background-color: #fcf5eb;
  border-bottom: 1px solid #eaeaea;
}

.container {
  width: 100%;
  display: flex;
  margin: 0 auto;
  max-width: 1200px;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
}

.nav {
  display: flex;
  gap: 1rem;

  li {
    a {
      color: black;
    }
  }
}

.buttons {
  display: flex;
  gap: 8px;
}

.btn {
  font-family: "Inter", sans-serif;
  color: #25d268;
  border: 1px solid #25d268;
  padding: 8px 16px;
  font-size: 16px;
  border-radius: 120px;
}

.btnLogin {
  background-color: #25d268;
  color: #fff;
}
