.main {
  width: 100%;
  border-bottom: 1px solid rgb(189, 189, 189);
  background-color: #ffffff;
  position: sticky;
  top: 0;
  z-index: 100;
}

.logo {
  height: 22px;
}

.container {
  gap: 32px;
  height: 96px;
  display: flex;
  margin: 0 auto;
  max-width: 1340px;
  align-items: center;
  padding: 0 24px;
  justify-content: space-between;

  ul {
    gap: 32px;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;

    li {
      list-style: none;

      a {
        font-size: 16px;
        color: #0f0f0f;
        font-weight: 500;
        text-decoration: none;
        letter-spacing: -0.01em;
        position: relative;

        &::after {
          content: "";
          position: absolute;
          left: 0;
          bottom: -4px;
          width: 0%;
          height: 2px;
          background: rgb(254, 80, 17);
          transition: width 0.3s ease;
        }

        &:hover::after {
          width: 100%;
        }
      }
    }
  }
}

.buttons {
  gap: 16px;
  display: flex;
  align-items: center;
}

.button {
  height: 48px;
  cursor: pointer;
  font-size: 14px;
  width: max-content;
  border-radius: 9999px;
  padding: 4px 20px;
  background-color: rgb(247, 247, 247);
  border: 1px solid rgb(189, 189, 189);

  a {
    text-decoration: none;
  }
}
