.main {
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--gray-thin);
  border-bottom: 1px solid var(--gray-main);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  transition: background 0.3s ease, backdrop-filter 0.3s ease;
}

.main.scrolled {
  backdrop-filter: blur(10px);
  background: var(--gray-main);
  -webkit-backdrop-filter: blur(10px);
  border-bottom: 1px solid var(--gray-main);
}

.container {
  width: 100%;
  display: flex;
  margin: 0 auto;
  max-width: 1360px;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
}

.logo {
  width: 120px;
  cursor: pointer;
}

.nav {
  gap: 2rem;
  display: flex;
  position: relative;

  .element {
    position: relative;
  }
}

.subMenu {
  left: 0;
  gap: 16px;
  top: 70px;
  width: 100%;
  z-index: 10;
  display: flex;
  overflow: hidden;
  padding: 32px 0;
  position: absolute;
  justify-content: center;
  background: var(--gray-light);
}

.subMenuItem {
  gap: 24px;
  padding: 24px;
  display: grid;
  max-width: 10%;
  cursor: pointer;
  border-radius: 24px;
  transition: all 0.3s ease;
  border: 1px solid var(--blue-main);

  &:hover {
    background-color: var(--blue-main);
    color: var(--gray-light);

    p {
      color: var(--gray-light);
    }

    .icon {
      background-color: var(--gray-light);
      color: var(--blue-main);
    }

    .link {
      color: var(--gray-light);
    }
  }
}

.icon {
  width: 32px;
  height: 32px;
  color: var(--gray-light);
  border-radius: 60px;
  justify-content: center;
  background-color: var(--blue-main);
}

.link {
  font-size: 24px;
  justify-content: flex-start;
}

.underline {
  display: flex;
  color: black;
  cursor: pointer;
  position: relative;
  align-items: center;

  i {
    font-size: 20px;
  }
}

.underline::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1.5px;
  background: var(--blue-main);
  bottom: -5px;
  left: 0;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.4s ease-out;
}

.underline:hover::after {
  transform: scaleX(1);
}

.buttons {
  display: flex;
  gap: 0px;
}
