@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Mea+Culpa&display=swap");

@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

@import url("https://cdn-uicons.flaticon.com/3.0.0/uicons-thin-straight/css/uicons-thin-straight.css");
@import url("https://cdn-uicons.flaticon.com/3.0.0/uicons-regular-straight/css/uicons-regular-straight.css");
@import url("https://cdn-uicons.flaticon.com/3.0.0/uicons-brands/css/uicons-brands.css");
:root {
  /* Blue */
  --blue-thin: #deebf8;
  --blue-light: #c4d7ff;
  --blue-main: #10069f;
  --blue-dark: #000e59;

  /* Gray */
  --gray-thin: #fcf5eb;
  --gray-light: #f6f6f6;
  --gray-main: #eaeaea;
  --gray-dark: #202020;
  --gray-darker: #0d0d0d;
}

body {
  margin: 0;
  font-size: 16px;
  color: #0f0f0f;
  /* background-color: #fcf5eb; */
  font-family: "Inter", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  font-family: "Inter", sans-serif;
}

p {
  color: #808080;
}

ul {
  list-style: none;
}

a {
  color: #0f0f0f;
  text-decoration: none;
}

i {
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  font-family: "Inter", sans-serif;
}
