.footer {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: rgb(15, 15, 15);
}

.logo {
  height: 22px;
}

.footer_container {
  gap: 120px;
  width: 100%;
  display: grid;
  padding: 120px 48px;
  grid-template-columns: repeat(2, 1fr);
}

.footer_left {
  opacity: 1;
  flex-shrink: 0;
  image-rendering: pixelated;
  background-size: 100% 100%;

  h1 {
    letter-spacing: -2px;
    font-size: clamp(43.2px, 6.3vw, 86.4px);
    color: #ffffff;
    line-height: 0.9;
    font-weight: 400;
  }
}

.footer_right {
  gap: 48px;
  display: flex;
  flex-direction: column;
}

.footer_info_section {
  gap: 16px;
  display: grid;
}

.footer_info_header {
  font-size: 16px;
  color: #808080;
}

.footer_info {
  opacity: 1;
  font-size: 24px;
  transform: none;
  color: #ffffff;
  letter-spacing: -1px;

  span {
    color: rgb(254, 80, 17);
  }
}

.footer_copyright {
  color: #808080;
  font-size: 18px;
}

.footer_container_copyright {
  gap: 120px;
  width: 100%;
  display: flex;
  padding: 24px 48px;
}
